body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

header {
    background-color: #154734;
    color: white;
    padding: 10px;
    text-align: center;
}


button {
    /* background-color: #154734; */
    /* color: white; */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}