body {
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: lightgray;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#uvm {
  border-radius: 4px;
  padding: 5px;
  width: 160px;
}
#home_button{
  color:inherit;
  top :0;
  right :0;
}
#home_button:hover{
  color:gray;
}

a{
  color:inherit;
}
a:hover{
  color:gray;
}
/* 
#verso {
  position: absolute;
  top :0;
  left : 15%;
  border-radius: 4px;
  padding: 4px;
  width: 90px;
} */
header {
    top: 0;
    left: 0;
    right: 0;
    background-color: #154734;
    color: white;
    padding: 10px;
    text-align: center;
}


button {
    background-color: #154734;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #154734;
    color: white;
    padding: 24px;
}

#flex-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  margin:10px
}

#changing_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#pdf-viewer {
  max-height: 85vh;
  width: 60%;
}

#header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
h1 {
  font-size: larger;
  margin:  10px 0;
}

p {
  font-size: medium;
  margin: 6px 0;
}

#settings {
  background-color:#1547344c;
  border-radius:10px;
  padding:10px;
  height:fit-content;
}