body {
    position: absolute;
    top: 50%;
    left :40%;
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

#uvm {
  position: absolute;
  top :0;
  left :0;
  border-radius: 4px;
  padding: 5px;
  width: 160px;
}
#home_button{
  color:inherit;
  position: fixed;
  top :0;
  right :0;
}
#home_button:hover{
  color:gray;
}

a{
  color:inherit;
}
a:hover{
  color:gray;
}
/* 
#verso {
  position: absolute;
  top :0;
  left : 15%;
  border-radius: 4px;
  padding: 4px;
  width: 90px;
} */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #154734;
    color: white;
    padding: 10px;
    text-align: center;
}


button {
    background-color: #154734;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #154734;
    color: white;
    padding: 24px;
}