<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acknowledgments</title>
    <link rel="icon" href="/static/asset/favicon/favicon.ico">
    <link rel="stylesheet" href="/static/global.css">
    <link rel="stylesheet" href="/static/acknowledgement.css">
</head>

<body>
    <header>
        <div id="header-top">
            <img src="static\asset\UVM_Logo_Primary_Horiz_WhiteGR.png" id="uvm" alt="logo of UVM">
            <h1>Acknowledgements</h1>
            <a href="{{ url_for('index') }}" id="home_button">← Home</a>
        </div>
    </header>
    <div id="flex-content">
        <p>
            The pdf_stitcher main functionality were done by : Tamunotonye Harry, and the code was revised for an online
            version by
            Shade Rothkopf <br>
            This website was done by the Killington pod of UVM's ORCA, comprised of Felix Walberg, Shade Rothkopf,
            Isabelle
            Kriz and Julien Chabert. <br>
            This project is open source and can be found on <a href = https://github.com/VERSO-UVM/eBookPDFStitcher>the Github of Verso</a>
            <br>There you can find a version of the project that you can run locally (pdf_stitcher.py)
        </p>
    </div>
    <footer>
        <p>
            This website has been developed by Orca (Open Research Community Accelerator) at UVM
        </p>
    </footer>
</body>

</html>