<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acknowledgment</title>
    <link rel="icon" href="/static/asset/favicon/favicon.ico">
    <link rel="stylesheet" href="/static/acknowledgement.css">
</head>

<body>
    <header>
        <h1> Acknowledgement</h1>
        <p>This page is here to do acknowledgement as to who did what part of the code :</p>
        <img src="static\asset\UVM_Logo_Primary_Horiz_WhiteGR.png" id="uvm" alt="logo of UVM">
         <a href="{{ url_for('index') }}" id ="home_button">Home </a>   
    </header>

    <p> Example :
        The pdf_stitcher main functionality were done by : Tamunotonye Harry, and the code was revised for an online
        version by
        Shade Rothkopf <br>
        This website was done by the Killington pod of UVM's ORCA, comprised of Felix Walberg, Shade Rothkopf, Isabelle
        Kriz and Julien Chabert. <br>
        We can even add a link to the github or things like that.
    </p>
    <footer>
        <p>
            This website has been developed by Orca (Open Research Community Accelerator) at UVM
        </p>
    </footer>   
</body>

</html>