<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acknowledgments</title>
    <link rel="icon" href="/static/asset/favicon/favicon.ico">
    <link rel="stylesheet" href="/static/global.css">
    <link rel="stylesheet" href="/static/acknowledgement.css">
</head>

<body>
    <header>
        <div id="header-top">
            <img src="static/asset/UVM_Logo_Primary_Horiz_WhiteGR.png" id="uvm" alt="logo of UVM">
            <h1>Acknowledgements</h1>
            <a href="{{ url_for('index') }}" id="home_button">← Home</a>
        </div>
    </header>
    <div id="flex-content">
        
        <div>
            <h3>Contributors</h3>
            <p>
                Primary functionality of the PDF Stitcher was developed by Tamunotonye Harry in 2023 for the UVM Library. The code was later revised for an online version by the Killington pod of UVM's ORCA (Open Research Community Accelerator) in the Spring of 2026, comprised of Felix Walberg, Shade Rothkopf, Isabelle Kriz, and Julien Chabert.
            </p>
            <h3>References</h3>
            <a href = "https://verso.w3.uvm.edu/orca/">ORCA</a>
            <a href = "https://github.com/VERSO-UVM/eBookPDFStitcher">Github Repository</a>
        </div>
        
    </div>
    <footer>
        <p>
            This website has been developed by Orca (Open Research Community Accelerator) at UVM
        </p>
    </footer>
</body>

</html>