<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="icon" href="/static/asset/favicon/favicon.ico">
    <link rel="stylesheet" href="/static/global.css">
    <link rel="stylesheet" href="/static/acknowledgement.css">
</head>

<body>
    <header>
        <div id="header-top">
            <img src="static\asset\UVM_Logo_Primary_Horiz_WhiteGR.png" id="uvm" alt="logo of UVM">
            <h1>You encountered an error!</h1>
            <a href="{{ url_for('index') }}" id="home_button">← Home</a>
        </div>
    </header>
    <div id="flex-content">
        {% with messages = get_flashed_messages()%}
        {% if messages%}
        {% for message in messages%}
        <p>{{message}}</p>
        {%endfor%}
        {%endif%}
        {%endwith%}
        <p>Try reloading the page, clearing your cockies, or restarting your browser</p>
    </div id="flex-content">

    <footer>
        <p>
            This website has been developed by Orca (Open Research Community Accelerator) at UVM
        </p>
    </footer>
</body>

</html>