<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Settings</title>
    <link rel="icon" href="/static/asset/favicon/favicon.ico">
    <link rel="stylesheet" href="/static/file_settings.css">
    <script src="{{ url_for('static', filename='file_settings.js') }}"></script>
    <script src="{{ url_for('static', filename='timer.js') }}"></script>

</head>

<body>
    <header>
        <div id="header-content">
            <img src="static\asset\UVM_Logo_Primary_Horiz_WhiteGR.png" id="uvm" alt="logo of UVM">
            <!-- When we get a real logo of orca, we might want to replace this -->
            <!-- <img src ="static\asset\verso_logo.png" id ="verso" alt ="logo of Verso"> -->
            <!-- TODO change the icon and make it fit -->
            <h1>File Settings</h1> 
            <p> Time remaining: <span id="timer-display"></span></p>
            <a href="{{ url_for('index') }}" id="home_button">← Home</a>

        </div>
        <p id="changing_title">Choose a name for the output PDF</p>

    </header>
    <div id="flex-content">

        <div id="pdf-viewer" style="height: 500%"></div>
        <div id="settings">
            <input placeholder="delete pages"></input>

            
            <div id="changing_form">
                <form id="choosing_a_name">
                    <input type="text" id="file_name" name="file_name" placeholder="file name" required />
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>


    </div>
    <footer>
        <p>
            This website has been developed by Orca (Open Research Community Accelerator) at UVM
        </p>
        <a href="{{ url_for('acknowledgement') }}" target="_blank"> Acknowledgement</a>
    </footer>
</body>

</html>