<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Settings</title>
</head>

<body>
    <h1>File Settings</h1>
    <p>We can add feature like editing the name of the output file and preview and such.</p>
    <form action="/folder" method="POST" enctype="multipart/form-data">
        <input type="file" name="folder" webkitdirectory directory multiple required />
        <button type="submit">Choose a folder for your file</button>
    </form>
</body>

</html>