<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="icon" href="/static/asset/favicon/favicon.ico">
    <link rel="stylesheet" href="/static/global.css">
    <link rel="stylesheet" href="/static/index.css">

    <script
        src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
</head>

<body>
    <header>
        <div id="header-top">
            <img src="static\asset\UVM_Logo_Primary_Horiz_WhiteGR.png" id="uvm" alt="logo of UVM">
            <h1> Ebook Stitcher </h1>
            <div id="timer">
                <p id="timer-display"></p>
                remaining <img src="static\asset\information_logo.png" id="information" alt="information logo">
            </div>
            <div id="tooltip">
                After two hours, your session will expire and all uploaded files will be purged for privacy.
            </div>
        </div>
        <p>
            Upload files below to begin the merging process.
        </p>

    </header>
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
    <div id="flex-content">
        <form action="/" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" class="filepond" data-allow-reorder="true" multiple />
            <button type="submit" id="submit-button" name="action" value="upload" disabled>Continue</button>
        </form>
    </div>
    <footer>
        <p>This website has been developed by Orca (Open Research Community Accelerator) at UVM </p>
        <a href="{{ url_for('acknowledgement') }}" target="_blank">Acknowledgements</a>
    </footer>
</body>
<script src="{{ url_for('static', filename='timer.js') }}"></script>
<script>

    FilePond.registerPlugin(FilePondPluginFileValidateType);
    const inputElement = document.querySelector('input[type="file"]');
    const pond = FilePond.create(inputElement, {
        acceptedFileTypes: ['application/pdf', 
        'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
    'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
    'text/csv',
    'application/vnd.openxmlformats-officedocument.presentationml.presentation'
    ],
        dropOnElement: false,
        dropOnPage: true,
        storeAsFile: true,
        itemInsertInterval: 10,
        onupdatefiles: (files) => {
        if ((files.length == 0) || files.some(f => f.status === FilePond.FileStatus.LOAD_ERROR)) {
            document.getElementById("submit-button").disabled = true;
        } else {
            document.getElementById("submit-button").disabled = false;
        }
    }
    });
    FilePond.parse(document.body);




</script>


</html>